.no-underline {
  text-decoration: none;
}

.card.tinted.application,
.card.tinted.appinventor,
.card.tinted.blog,
.card.tinted.bsfcampus,
.card.tinted.khanacademy,
.card.tinted.kolibri,
.card.tinted.koombookedu,
.card.tinted.library,
.card.tinted.mediacenter {
  border: 2px solid #b9b9b9;
  background-color: #eee;
}

.card.blog > .summary {
  font-style: italic;
}

.logo {
  width: 250px;
}
