{% load i18n ideascube_tags %}

{% if available_themes %}
<div class="card tinted">
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <h4><span class="theme discover">{% trans "browse" %}</span> {% trans 'by theme' %}</h4>
    <ul>
        {% for theme, label in available_themes %}
            {% is_in_qs 'theme' theme as in_qs %}
            <li>
                {% if in_qs %}
                    <a href="{% remove_qs theme=theme %}" class="flatlist no-underline active">{{ label|capfirst }}</a>
                {% else %}
                    <a href="{% replace_qs theme=theme %}" class="flatlist no-underline">{{ label|capfirst }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
