{% extends 'form-sidebar.html' %}
{% load i18n static ideascube_tags %}

{% block heading %}
    <h2>
        {% trans "New message" %}
    </h2>
{% endblock heading %}

{% block form %}
    <h3>{% trans 'Your message' %}</h3>
    {% form_field form.kind %}
    {% form_field form.media %}
    {% form_field form.text %}
    {{ form.non_field_errors }}
{% endblock form %}

{% block sidebar %}
    <h3>{% trans 'About you' %}</h3>
    {% form_field form.author %}
    {% form_field form.birth_year %}
    {% form_field form.address %}
    {% form_field form.contact %}
    {% form_field form.gender %}
{% endblock sidebar %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.initEditors();
    </script>
{% endblock extra_foot %}
