{% extends 'one-row.html' %}
{% load i18n static ideascube_tags %}

{% block heading %}
    <h2>
        {% trans "Thanks for you message" %}
    </h2>
{% endblock heading %}

{% block row %}
    <p>{% trans "Your message has been sent. We must validate it before it becomes public." %}</h3>
{% endblock row %}
