{% extends 'two-third-third.html' %}
{% load i18n ideascube_tags static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "mediacenter/mediacenter.css" %}">
{% endblock %}

{% block body_class %}mediacenter{% endblock %}

{% block twothird %}
    {% block content_title %}
         <h2>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <span class="theme discover">{% trans "discover" %}</span>

            {% blocktrans with radio_name=server_name %}Listen to {{ radio_name }}{% endblocktrans %}
         </h2>
    {% endblock %}

    <div class="pure-g document-list card-container">
        {% for document in radioshow_list  %}
            <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3 pure-u-xl-1-4 pure-u">
                {% include "irfi/radioshow_card.html" %}
            </div>
        {% empty %}
            <div class="pure-u-1">
                {% trans "No radio show yet." %}
            </div>
        {% endfor %}
    </div>
    {% include "ideascube/pagination.html" %}
{% endblock twothird %}

{% block third %}
    {% if user.is_staff %}
        <div class="card tinted admin">
            {% fa 'plus' 'fa-fw' %} <a href="{% url 'radio_create' %}">{% trans "Add a show" %}</a>
        </div>
    {% endif %}

    {% url 'radio_index' as index %}
    {% include 'search/filter_cloud.html' %}
    {% include 'search/box.html' with action=index %}
    {% include 'search/order_by.html' %}
    {% include 'irfi/search/filter_by_theme.html' %}
    {% include 'search/filter_by_lang.html' %}
{% endblock third %}
