{% extends 'two-third-third.html' %}

{% load i18n ideascube_tags static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "mediacenter/mediacenter.css" %}">
{% endblock extra_head %}

{% block twothird %}
    <h5><a href="{% url 'radio_index' %}">&lt; {% trans 'View all radio shows' %}</a></h5>
    <h2><span class="theme discover">{{ radioshow.slug }}</span> {{ radioshow }}</h2>
    <audio controls preload="none" width="100%">
        <source src="{% media radioshow 'original' %}">
        {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
        {% trans "Your web browser doesn't support this media type." %}
    </audio>
    <div class="text">{{ radioshow.summary|safe }}</div>
    <div>
        <a class="button" href="{% media radioshow 'original' %}"><span class="fa fa-download fa-fw"></span>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            {% blocktrans with kind=radioshow.KIND_DICT|getitem:radioshow.kind %}
                Download {{ kind }}
            {% endblocktrans %}
        </a>
    </div>
{% endblock twothird %}

{% block third %}
    {% if user.is_staff %}
        <ul class="card tinted admin">
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <li>{% fa 'pencil' 'fa-fw' %}<a href="{% url 'radio_update' pk=radioshow.pk %}">{% trans 'Edit' %}</a></li>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <li>{% fa 'trash' 'fa-fw' %}<a href="{% url 'radio_delete' pk=radioshow.pk %}">{% trans 'Delete' %}</a></li>
        </ul>
    {% endif %}
{% endblock third %}
