{% extends 'form-sidebar.html' %}
{% load i18n static ideascube_tags %}

{% block heading %}
    <h2>
        {% if radioshow %}
            {% trans "Edit radio show" %} "{{ radioshow }}"
        {% else %}
            {% trans "New radio show" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block form %}
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <h3>{% trans 'Content' %}</h3>
    {% form_field form.title %}
    {% form_field form.original %}
    {% form_field form.summary %}
{% endblock form %}

{% block sidebar %}
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <h3>{% trans 'Metadatas' %}</h3>
    {% form_field form.theme %}
    {% form_field form.lang %}
    {% form_field form.air_date %}

    {% form_field form.hidden %}
    {% form_field form.kind %}
    {% form_field form.tags %}
{% endblock sidebar %}

{% block cancel_url %}
    {% if radioshow %}
        {{ radioshow.get_absolute_url }}
    {% else %}
        {% url 'radio_index' %}
    {% endif %}
{% endblock cancel_url %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.initEditors();
        ID.initDatepicker('air_date');
    </script>
{% endblock extra_foot %}
