{% load ideascube_tags mediacenter_tags static %}

<a class="card"
   href="{% if url %}{{ url }}{% else %}{{ document.get_absolute_url }}{% endif %}"
   {% if document_insert %}onclick="ID.tinymce_insert_document({{ document_insert }})"{% endif %}
>
  <h3><span class="theme discover">{{ document.slug }}</span> {{ document }}</br>
  <small>{{ document.air_date }} • {{ document.size}}</small></h3>
  {% if document.preview %}
   <img src="{% media document 'preview' %}" title="{{ document.title }}" />
  {% elif document.kind == document.IMAGE %}
    <img src="{% media document 'original' %}" title="{{ document.title }}" />
  {% else %}
    <img src="{% static document|default_preview_url %}" title="{{ document.title }}" />
  {% endif %}
</a>

