{% load i18n ideascube_tags %}
{% spaceless %}
{% if q or kind or lang or tags or source or theme %}
  <div class="filters card tinted">
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <h4>{% trans "Filters" %}</h4>
    <ul>
      {% if q %}
        <li>
          <a href="{% remove_qs q=q %}">
            {{ q }}
            <i class="fa fa-close"></i>
          </a>
        </li>
      {% endif %}
      {% if kind %}
        <li>
          <a href="{% remove_qs kind=kind %}">
            {{ view.model.KIND_DICT|getitem:kind }}
            <i class="fa fa-close"></i>
          </a>
        </li>
      {% endif %}
      {% if lang %}
        {% with LANG_INFO|getitem:lang as lang_info %}
          <li>
            <a href="{% remove_qs lang=lang %}">
              {{ lang_info.name_local }}
            <i class="fa fa-close"></i>
            </a>
          </li>
        {% endwith %}
      {% endif %}
      {% if source %}
          <li>
            <a href="{% remove_qs source=source %}">
              {{ source_name }}
            <i class="fa fa-close"></i>
            </a>
          </li>
      {% endif %}
      {% for t in tags %}
        <li>
          <a href="{% remove_qs tags=t %}">
            {{ t|tag_name }}
            <i class="fa fa-close"></i>
          </a>
        </li>
      {% endfor %}

      {% if theme %}
          <li>
            <a href="{% remove_qs theme=theme %}">
              {{ theme_name }}
            <i class="fa fa-close"></i>
            </a>
          </li>
      {% endif %}

    </ul>
  </div>
{% endif %}
{% endspaceless %}
