{% load i18n %}

<a href="
{% if card.url|slice:'7' == 'http://' %}
  {{ card.url }}
{% else %}
  {% url card.url %}
{% endif %}" class="card tinted {{ card.class }}">
  {% if card.fa %}<i class="fa fa-{{ card.fa }} fa-3x"></i>{% endif %}
  <h4>
    <span class="theme {{ card.category }}">{% trans card.category %}</span>
    <span>{{ card.title }}</span>
  </h4>
  <p>{{ card.description }}</p>
</a>
