{% load i18n %}

<a href="{% url 'message_create' %}" class="card tinted application">
  <i class="fa fa-edit fa-3x"></i>
  <h4>
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <span class="theme create">{% trans "create" %}</span>
    <span>
      {% trans 'Participate' %}
    </span>
  </h4>
  <p>
    {% trans 'Post a new message or advertisement.' %}
  </p>
</a>
