{% load i18n %}

<a href="{% url 'blog:index' %}" class="card tinted application">
  <i class="fa fa-newspaper-o fa-3x"></i>
  <h4>
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <span class="theme info">{% trans "info" %}</span>
    <span>
      {% blocktrans with radio_name=server_name %}News from {{ radio_name }}{% endblocktrans %}
    </span>
  </h4>
  <p>
    {% trans 'All the news from the radio, as well as messages and announces from the listeners.' %}
  </p>
</a>
