{% load i18n %}

<a href="{% url 'radio_index' %}" class="card tinted application">
  <i class="fa fa-music fa-3x"></i>
  <h4>
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <span class="theme discover">{% trans "discover" %}</span>
    <span>
      {% blocktrans with radio_name=server_name %}Listen to {{ radio_name }}{% endblocktrans %}
    </span>
  </h4>
  <p>
    {% trans 'Your favourite radio shows.' %}
  </p>
</a>
