{% load i18n ideascube_tags %}

<a class="card blog" href="{% url 'blog:content_detail' pk=content.pk %}">
    <h3>{{ content }}</h3>
    <h5>
        {% trans "draft" as draft %}
        {% if content.status == content.DRAFT %}
            <span class="draft">{% fa 'edit' 'fa-fw' %}{{ draft }}</span>
        {% endif %}
        {{ content.published_at|date:"SHORT_DATE_FORMAT" }} ⚫ {{ content.author }}
    </h5>
    <div class="summary">
        {% if content.image %}
            <img src="{% media content 'image' %}">
        {% endif %}
	{% if content.summary %}
          {{ content.summary|safe }}
	{% else %}
	  {{ content.text|summarize_html:100|safe }}
	{% endif %}
    </div>
</a>
