{% extends 'form-sidebar.html' %}
{% load i18n ideascube_tags %}

{% block heading %}
    <h2>
        {% if content %}
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            {% fa 'pencil' %} {% trans "Edit post" %} "{{ content }}"
        {% else %}
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            {% trans "New post" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block form %}
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <h3>{% trans 'Content' %}</h3>
    {% form_field form.title %}
    {% form_field form.text %}
    {% form_field form.summary %}
{% endblock form %}

{% block sidebar %}
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <h3>{% trans 'Metadatas' %}</h3>
    {% if content %}
      <div class="card tinted admin">
        <h4>{% trans "Author information" %}</h4>
        <p>
           {{ content.author.full_name }}
        </p>
        {% if content.author.camp_address %}
          <p>
            <span style="white-space: pre;">{{ content.author.camp_address }}</span>
          </p>
        {% endif %}
        <p>
            <span class="menu-subtitle">{% trans "Gender:" %}</span>
            {{ content.author.gender }}
        </p>
        {% if content.author.phone %}
           <p>
             <span class="menu-subtitle">{% trans "Contact:" %}</span>
             {{ content.author.phone }}
           </p>
        {% endif %}
        {% if content.author.birth_year %}
           <p>
             <span class="menu-subtitle">{% trans "Birth year:" %}</span>
             {{ content.author.birth_year }}
           </p>
        {% endif %}
      </div>
    {% endif %}
    {% form_field form.author %}
    {% form_field form.image %}
    {% form_field form.published_at %}
    {% form_field form.status %}
    {% form_field form.lang %}
    {% form_field form.tags %}
{% endblock sidebar %}

{% block cancel_url %}
    {% if content %}
        {{ content.get_absolute_url }}
    {% else %}
        {% url 'blog:index' %}
    {% endif %}
{% endblock cancel_url %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.focusOn('[name=title]');
        ID.initDatepicker('published_at');
        ID.initEditors();
    </script>
{% endblock extra_foot %}
