{% extends 'two-third-third.html' %}

{% load ideascube_tags i18n %}

{% block twothird %}
    {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
    <h5><a href="{% url 'blog:index' %}">&lt; {% trans 'View all posts' %}</a></h5>
    <h2>{{ content }}</h2>
    <h5>{{ content.published_at|date:"SHORT_DATE_FORMAT" }} ⚫ {{ content.author }}</h5>
    <div class="text">{{ content.text|safe }}</div>
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        <div class="card tinted admin">
            {% fa 'pencil' 'fa-fw' %}<a href="{% url 'blog:content_update' pk=content.pk %}">Edit</a>
        </div>
        <div class="card tinted admin">
            <h4>{% trans "Author information" %}</h4>
            <p>
               {{ content.author.full_name }}
            </p>
            {% if content.author.camp_address %}
              <p>
                <span style="white-space: pre;">{{ content.author.camp_address }}</span>
              </p>
            {% endif %}
            <p>
                <span class="menu-subtitle">{% trans "Gender:" %}</span>
                {{ content.author.gender }}
            </p>
            {% if content.author.phone %}
               <p>
                 <span class="menu-subtitle">{% trans "Contact:" %}</span>
                 {{ content.author.phone }}
               </p>
            {% endif %}
            {% if content.author.birth_year %}
               <p>
                 <span class="menu-subtitle">{% trans "Birth year:" %}</span>
                 {{ content.author.birth_year }}
               </p>
            {% endif %}
        </div>
    {% endif %}
    {% include 'ideascube/includes/tag_cloud.html' with url="blog:index" tags=content.tags.all %}
{% endblock third %}
