{% extends 'two-third-third.html' %}
{% load i18n ideascube_tags %}

{% block twothird %}
    {% block blog_title %}
        <h2>
            <a href="{% url 'blog:index' %}" class="theme create">
                {% trans "News" %}
            </a>
        </h2>
    {% endblock blog_title %}
    {% for content in content_list  %}
        {% include 'blog/content_card.html' %}
        <hr />
    {% endfor %}
    {% include "ideascube/pagination.html" %}
{% endblock twothird %}
{% block third %}
    {% if user.is_staff %}
        <div class="card tinted admin">
            {% fa 'plus' 'fa-fw' %} <a href="{% url 'blog:content_create' %}">{% trans "Add news" %}</a>
        </div>
    {% endif %}
    {% url 'blog:index' as index %}
    {% include 'search/filter_cloud.html' %}
    {% include 'search/box.html' with action=index %}
    {% include 'search/order_by.html' %}
    {% include 'search/filter_by_lang.html' %}
    {% include 'ideascube/includes/tag_cloud.html' with url="blog:index" tags=available_tags %}
{% endblock third %}
