{% load i18n static %}
{% spaceless %}
<header>
    <section class="logo">
      <a href="{% url 'index' %}">
        <span>
          <img src="{% static 'branding/header-logo.png' %}"></img>
        </span>
      </a>
    </section>
    <section class="boxname">
      <a href="{% url 'index' %}">
        <span class="boxid">{{ server_name }}</span>
      </a>
    </section>
    <section class="menu">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" id="logout">{% blocktrans with user=user %}log out from {{ user }}{% endblocktrans %}{% if user.is_staff %} <i class="fa fa-user-secret"></i>{% endif %}</a></li>
      {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}" class="mwide tthird">{% trans "log in" %}</a>
      {% endif %}
    </section>
</header>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endspaceless %}
