{% extends 'third-two-third.html' %}

{% load i18n ideascube_tags static %}

{% block extra_head %}
    {% include 'ideascube/includes/form_statics.html' %}
    <link rel="stylesheet" type="text/css" href="{% static "serveradmin/serveradmin.css" %}">
{% endblock extra_head %}

{% block third %}
    <div class="card tinted admin">
        <ul>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <li>{% fa 'info-circle' 'fa-fw' %} <a href="{% url 'server:settings' %}">{% trans "Server Info" %}</a></li>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <li>{% fa 'language' 'fa-fw' %} <a href="{% url 'server:languages' %}">{% trans "Languages" %}</a></li>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <li>{% fa 'power-off' 'fa-fw' %} <a href="{% url 'server:power' %}">{% trans "Restart server" %}</a></li>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <li>{% fa 'plug' 'fa-fw' %} <a href="{% url 'server:battery' %}">{% trans "Monitor battery" %}</a></li>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <li>{% fa 'wifi' 'fa-fw' %} <a href="{% url 'server:wifi' %}">{% trans "Manage Wi-Fi" %}</a></li>
            {% comment %}Translators: Do not translate this, the translation is in Ideascube{% endcomment %}
            <li>{% fa 'th' 'fa-fw' %} <a href="{% url 'server:home_page' %}">{% trans "Manage home page" %}</a></li>
        </ul>
    </div>
{% endblock third %}
