{% load i18n static %}

<!DOCTYPE html>
<html{% if LANGUAGE_CODE|language_bidi %} dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{% block title %}{{ server_name }}{% endblock %}</title>
        <link rel="icon" href="{% static 'branding/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'ideascube/vendor/font-awesome/css/font-awesome.min.css' %}" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="{% static 'ideascube/vendor/purecss/pure-css-grids-old-ie-min.css' %}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" type="text/css" href="{% static 'ideascube/vendor/purecss/pure-css-grids-min.css' %}">
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="{% static "ideascube/main.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "irfi/overrides.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "branding/style.css" %}" />
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
            {% include 'ideascube/includes/header.html' %}
        {% endblock header %}
        <div class="content">
        {% block content %}
        {% endblock content %}
        </div>
        {% block footer %}
            {% include 'ideascube/includes/footer.html' %}
        {% endblock footer %}
        {% block extra_foot %}{% endblock %}
    </body>
</html>
